NYC311_APP_TOKEN=your_app_token_here
NYC311_SECRET_TOKEN=your_secret_token_here
NYC311_SODA2_ENDPOINT=https://data.cityofnewyork.us/resource/nc67-uf89.json
NYC311_SODA3_ENDPOINT=https://data.cityofnewyork.us/api/v3/views/nc67-uf89/query.json
NYC311_API_LIMIT=50000
NYC311_API_TIMEOUT=60
NYC311_ALERTS_ENABLED=false
NYC311_ALERT_WEBHOOK_URL=
NYC311_ALERT_PCT_CHANGE_THRESHOLD=50
NYC311_ALERT_ABSOLUTE_COUNT_THRESHOLD=5000
NYC311_ALERT_AMOUNT_PCT_CHANGE_THRESHOLD=35
NYC311_ALERT_ABSOLUTE_AMOUNT_THRESHOLD=250000

